main {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
}
:root {
  --primary: #050404;
  --secondary: #9EE7F4;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("./assets/images/cover-image/cover-photo-alt.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}

.mx-1 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
  cursor: pointer;
}

.about-para {
  color: var(--light);
  text-align: center;
}

.resume {
  margin: 10px;
  color: var(--secondary);
  padding: 20px;
 
}

.text-color {
  color: var(--secondary);
}

.flex-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--dark);
  color: var(--secondary);
  transform: rotateY(180deg);
}

/* .img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
} */

.about-para {
  width: 50%;
  align-items: flex-start;
  justify-content: left;
}
