main {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
}
:root {
  --primary: #050404;
  --secondary: #4FCAE5;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("./assets/images/cover-image/cover-photo-alt.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-1 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

/* .container-1 {
  background-image: url("./assets/images/cover-image/cover-photo-alt.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.about-para {
  color: var(--light);
  text-align: center;
}

/* .container-2 {
  background-image: url("./assets/images/cover-image/cover-photo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.resume {
  margin: 10px;
  color: var(--secondary);
  padding: 20px;
 
}

.text-color {
  color: var(--secondary);
}







/* .img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
} */
